// Bootstrap
@import '~bootstrap/scss/bootstrap';
*{
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-family: 'Edu SA Beginner', cursiva;
    font-size: 4rem;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../../public/images/bg01.jpg');
    background-size: cover;

}
