// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../../public/images/natureza.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
}
